@import "header";
@import "navbar";
@import "footer";
@import "index";
@import "sobremi";
@import "skills";
@import "proyectos";
@import "contacto";



* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-color: black;
  }
